html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Pacifico', cursive;
    margin: 0;
    padding: 0;
    
    /* overflow: hidden; */
}
.navbar{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}


#image{
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)),url(../web2.jpg);
    height:90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
background-attachment: fixed;    
}
#section{
    padding: 15px;
}
.text{
    color: white;
    position: relative;
    top: 42%;
}
.sub{
font-size: 20px;
font-weight: 50;

}
.projects{
    text-align: center;
}
/* .row{
padding: 15px;
} */
.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1.5px 4px;
    width:100%;
    border-radius: 16px !important;
    padding: 8px;
    transition: 0.5s;
}

.pro{
    text-align: center;
}


/* @media (max-width: 576px) { .card{
    background:red  !important
} }

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { .card{
    background:green !important
}}

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { .card{
    background:blue !important
} } */ 

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {.card:hover{
    transform: translateY(-20px);
} }

/* // XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) { .card{
    background:black !important
} } */
/* @media (min-width: 1300px) { .card{
    background:black !important
} } */ 
#projects{
height: 75vh;
}

#contact{
    margin-top: 1%;
    height: 95vh;
}
li a{
    cursor: pointer;
}


.ras{

    background: #FC5C7D;  
background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D); 
background: linear-gradient(to right, #6A82FB, #FC5C7D); 
}
.ras .navbar .nav-item{
    color:white;
}

